* {
    padding: 0%;
    margin: 0%;
    box-sizing:0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(253, 230, 210);
    color: #5b0e2dcd;
    font-family: 'Playfair Display', serif;
  }

nav {
    position:fixed;
    width: 95%;
    height: 6vh;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav a:hover {
    border-bottom: 7px dotted pink;
  }
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  nav ul li {
    font-weight: var(bold-font);
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;

  }
 .my-name {
    color: #5b0e2dcd;
    font-size: 2rem;
 }
 .nav-head {
  color: #5b0e2dcd;
 }
 .navigation{
  font-size: 2rem;
  font-weight: 400;
}

.israel {
  height: 400px;
  width: 400px;
  border-radius: 50%;
 }
 .gif{
   height: 100px;
   width: 100px;
 }
 .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
 }
  .hero-img {
   position: sticky;
   height: 45%;
   width: 45%;
   border-radius: 50%;
  }
  .bio {
    padding: 0.625rem;}
  
  .bio-title {
      font-size: 5rem;
      padding: 0.3rem 0;
  }
  .bio-text {
    font-size: 2rem;
    padding: 0.3rem 0;
}

#home {
  background-image: url('minimalist.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: 10rem;
  }

#About {
  min-height:100vh;
  min-width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('last.png');
  background-size: cover;
 }
 header {
  width: 90%;
  font-size: 1.5rem;
  padding-top: 10%;
}
 section {
  width: 90%;
  margin: 20px auto 0 auto;
  border-radius: 15px;
  padding: 25px;
  display: flex;

 }
 section > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 }
 section > h2 {
  margin: 0 0 10px 10px;
 }
 .box {
  width: 50%;
  height: 50%;
  position: relative;
  background-color: #FADCD9;
  /* display: flex; */
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
 }
 .box img {
  width: 100%;
  height: auto;
  border-radius: 20%;
 }
 .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f79489af;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
}
.box:hover .overlay {
  transform: scale(1);
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.level {
  padding-top: 10px;
}
.invisible{
  padding-top:0%;
  color:rgba(255, 255, 255, 0);
  font-size: 0%;
}


#experience {
  min-height:100vh;
  min-width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('last.png');
  background-size: cover;
 }
 .exp-head{
   font-size: 0rem;
   padding-bottom: 0%;
 }
 .timeline {
  width: 80%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  position: relative;
 }
 .timeline ul{
   list-style: none;

 }
 .timeline ul li{
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 15vh;
  width: 45%;
  display: flex;
  align-content: center;
  justify-content: center;
 }
 .timeline ul li:last-child {
  margin-bottom:0;
 }
.timeline-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
 }
    .insti{
     font-size: 1.25rem;
     margin-bottom: 10px;
  }
    .year {
     font-size: .90rem;
     color: powderblue;
     padding-bottom: 10px;
      }
    .info {
      font-size: 1rem;
      line-height: 30px;
      font-weight: 300;
  }
 .timeline ul li:nth-child(odd){
  float: left;
  clear:right;
  transform: translateX(-20px);

}
 .timeline ul li:nth-child(even){
  float: right;
  clear: left;
  transform: translateX(20px);

}
 .timeline::before {
   content: '';
   position: absolute;
   height: 100%;
   width: 5px;
   left:50%;
   transform: translateX(-50%);
   background-color: white;
}


#skills {
  min-height:100vh;
  min-width:100%;background-image: url('last.png');
  background-size: cover;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
 .skills-1 {
  width: 500px;
  margin-top: 60px auto;
  color: white;
 }
 .skills li{
  margin: 20px 0;
 }
 .bar {
  display: block;
  height: 5vh;
  width: 80vw;
  border: 2px solid pink;
  overflow: hidden;
  box-shadow: 0 0 20px yellow;
 }
 .bar span{
  height: 5vh;
  float: left;
  background-color: pink;
}
 .skill-name {
  font-size: 2.5rem;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
 }
 .Lycanthropy {
  width: 90%;
  animation: Lycanthropy 5s infinite;
 }
 .Parseltongue {
  width: 65%;
  animation: Parseltongue 5s infinite;
 }
 .Animagus {
  width: 90%;
  animation: Animagus 5s infinite;
 }
 .Metamorphmagi {
  width: 50%;
  animation: Metamorphmagi 5s infinite;
 }
 @keyframes Lycanthropy{
  0%{
      width: 0%;
  }
  100% {
      width: 90%;
  }

 }
 @keyframes Parseltongue{
  0%{
      width:0%;
  }
  100% {
      width: 65%;
  }

 }
 @keyframes Animagus{
  0%{
      width: 0%;
  }
  100% {
      width: 90%;
  }

 }
 @keyframes Metamorphmagi{
  0%{
      width: 0%;
  }
  100% {
      width: 50%;
  }

}

#projects {
min-height:100vh;
min-width:100%;
display: flex;
align-items: center;
justify-content: center;
background-image: url('last.png');
background-size: cover;

}
.middle-a {
position:sticky;
top: 10%;
}
.card-a{
cursor:pointer;
width: 340px;
height: 480px;
}
.front-a, .back-a{
width: 100%;
height: 100%;
overflow: hidden;
backface-visibility: hidden;
position: absolute;
transition: transform .6s linear;
}
.front-a img{
height: 100%;
padding-left: 30px;
}
.front-a{
transform: perspective(600px) rotateY(0deg);
}
.back-a{
background: rgba(227, 145, 115, 0.829);
width: 90%;
transform: perspective(600px) rotateY(180deg);
}
.back-content-a{
color: white;
text-align: center;
margin-left: 10px;
margin-right: 10px;
margin-top: 20%;

}
/* .sm {
margin: 20px 0;
} */

/* .sm a{
display: inline-flex;
width: 40px;
height: 40px;
justify-content: center;
align-items: center;
color: blueviolet;
font-size: 18px;
transition: 0.4s;
border-radius: 50%;
} */

/* .sm a:hover{
background: blueviolet;
color: white;
} */

.card-a:hover > .front-a{
transform: perspective(600px) rotateY(-180deg);

}
.card-a:hover > .back-a{
transform: perspective(600px) rotateY(0deg);

}

#contact {
  min-height:100vh;
  min-width:100%;
  display: flex;
  background-image: url('last.png');
  background-size: cover;
  align-items: center;
  justify-content: center;


}
form {
  width: 70%;
  max-width: auto;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input, textarea{
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 2px solid white;
  background-color: transparent;
  font-size: 15px;
}

label{
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  padding: 10px;
  color: white;
  cursor: text;
  transition:0.2s;
}
 button{
   padding:10px 0;
   color: #fff;
   outline: none;
   background: transparent;
   border: solid 4px white;
   width: 100%;
   cursor: pointer;
 }
 input:focus~label,
 input:valid~label
 {
   top:-35px;
   font-size: 14px;
 }

 textarea:focus~label,
 textarea:valid~label
 {
  top:-35px;
  font-size: 14px;
 }

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .input-group{
  flex-basis: 48%;
}

.top-tab{
  font-size: 2rem;
  display: flex;
  padding-bottom: 20px;
  justify-content: space-around;
  text-decoration: none;

}
